{% extends 'base.html' %}
{% block title %} Home Page{% endblock %}

{% block stylesheet %}
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <table style="width:100%">
          <caption>My Parcel(s)</caption>
          <tr>
            <th>Parcel Number</th>
            <th>Land Use</th>
            <th>Encumbrances</th>
            <th>Improvements</th>
            <th>Purchase Date</th>
          </tr>

            {% for detail in details %}
                {% for parcel in parcels %}
                    {% if detail.parcel_id == parcel.id %}
                        <tr>
                        <td> {{ parcel.lr_no }}</td>
                        <td>{{ detail.land_use.title }}</td>
                        <td> {{ detail.encumbrances.title }}</td>
                        <td> {{ detail.improvements.title }}</td>
                        <td> {{ detail.purchase_date }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    <hr>
    <!-- Displaying the parcels on the map-->
        <div>
            <h3 class="text-justify">Parcels</h3>
            {{ map|safe }}
        </div>
    </div>
{% endblock %}
