{% extends 'webGIS.html' %}
{% load static %}


{% block title %}WebGIS{% endblock title %}

{% block stylesheet %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<link rel="stylesheet" href="{% static 'parcels/css/style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'parcels/css/controls.css' %}" type="text/css">
{% endblock stylesheet %}


{% block content %}
<div class="row">
    <div class="col-lg-3 left_sidebar">
        <div class="mt-4 mb-3">
            <h4>Search Location</h4>
        </div>
        <div class="form-inline">
            <input class="form-control col-sm-7 mr-2 mb-2" type="text" placeholder="Search..." id="search-value"/>
            <div class="form-group sm-3">
                <button class="btn btn-secondary mr-2 mb-2" onclick="searchWFS()"> Search</button>
                <button class="btn btn-secondary mb-2" onclick="clearResult()"> Clear</button>
            </div>

            <h4> Image Opacity: <span id="image-opacity">0.5</span></h4>
            <input class="range" type="range" id="imgOpacity" min="0" max="1" step="0.1" value="0"
                   onmousemove="rangevalue1.value=value">
            <output id="rangevalue1"></output>

            <!--                <div id="results" value=""></div>-->

        </div>
        <br>
        <div id="wfsResults" class=""></div>

        <div id="alert_empty" class="alert alert-danger alert-warning fade hide" role="alert">
            <strong>Please enter an input!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span asia-hidden="true">&times;</span>
            </button>
        </div>

        <div id="alert_noResult" class="alert alert-danger alert-dismissable fade hide" role="alert">
            <strong>No result(s) found!</strong>please try again.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span asia-hidden="true">&times;</span>
            </button>
        </div>

        <div id="drawcontainer" class="drawcontainer"></div>
        <div id="mapclicks" class="mapclicks"></div>
        <div id="results" value=""></div>

    </div>


    <!--  Map Div  -->

    <div class="col-lg-9" id="map">
        <!--map coordinates -->
        <div class="leaflet-control map-coordinate"></div>

        <form id="measure">
            <label>Geoprocessing&nbsp;</label>
            <select id="measuretype">
                <option value="select">Select Measure option</option>
                <option value="clip">Clip</option>
                <option value="union">Union</option>
                <option value="difference">Difference</option>
                <option value="intersect">Intersect</option>
                <option value="dissolve">Dissolve</option>
                <option value="buffer">Buffer</option>
                <option value="clear">Clear Measurement</option>
            </select>
        </form>

        <div class='delete' id='delete' title="Delete the Digitized features">Delete</div>
        <a href='#' class='export' id='export' title="Save Features to the database">Export</a>
        <div class="toggler" id='draw' data-toggle="tooltip" title="Toggle Digitization">Draw</div>

        <div id="toolbar">
            <div class="hamburger">
                <span style="align-content: center">Table&nbsp;Attributes</span>
            </div>
            <div id="tourstops">
                <h2 style="align-content: center">Attributes</h2>
                <hr>
                <ul>
                </ul>
            </div>
        </div>

        <div class="leaflet-control basic-functions">
            <div class="upload btns" data-toggle="modal" data-target="#form2" title="Upload Shapefile">
                <i class="fas fa-upload"></i>
            </div>

            <div class="download btns" data-toggle="tooltip" title="Download Shapefile">
                <i class="fas fa-download"></i>
            </div>

            <div class="statistics btns" data-toggle="modal" data-target="#form" title="Statistics">
                <i class="fas fa-signal"></i>
            </div>


            <div class="query btns" data-toggle="modal" data-target="#form" title="Query Builder">
                <i class="fas fa-cogs"></i>
            </div>

            <!-- Toggle Draw  button -->
            <div class="lock-map btns" data-toggle="modal" data-target="#form" title="Open Map Controls">
                <i class="fas fa-lock-open"></i>
            </div>

        </div>


        <div class="leaflet-control map-functions">
            <div class="default-view controls" data-toggle="tooltip" title="Zoom full extent">
                <i class="fas fa-home"></i>
            </div>

            <div class="full-screen controls" onclick=fullScreenView() data-toggle="modal" title="Toggle Full screen">
                <i class="fas fa-arrows-alt"></i>
            </div>

            <div class="print controls" data-toggle="tooltip" title="Print The Map extent">
                <i class="fas fa-print"></i>
            </div>

            <div class="info controls" data-target="tooltip" title="Get Feature Info">
                <i class="fas fa-info"></i>
            </div>

            <div class="controls disabled  leaflet-prevent" id="pin" data-toggle="tooltip"
                 title="Toggle Map Interaction">
                <i class="fas fa-map-pin"></i>
            </div>


        </div>

    </div>


    <!--modal form that is used to query the db -->
    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email1">Email address</label>
                            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp"
                                   placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Your information is safe with
                                us.</small>
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control" id="password1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="password1">Confirm Password</label>
                            <input type="password" class="form-control" id="password2"
                                   placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--modal form that is used to query the db -->
    <div class="modal fade" id="form2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel2">Upload Shapefile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'uploadShape' %}" method="post" enctype="multipart/form-data">
                    Select shapefile:
                    <!--                              {% csrf_token %}-->
                    <input type="file" name="shape" id="shape" multiple required>
                    <input type="submit" class="btn btn-primary" value="Upload Shapefile" name="submit">
                </form>
            </div>
        </div>
    </div>

</div>


{% block javascript %}
<script type="text/javascript" src="{% static 'parcels/js/main.js' %}"></script>
{% endblock javascript %}

{% endblock content %}

{% block extras %}

<script>
    // Leaflet JS
    var newgroup = new L.featureGroup();
    var geojsonlayer;


    function highlightFeature2(e) {
        var layer = e.target;
        layer.setStyle({
            weight: 5,
            color: 'green',
            dashArray: 1,
            fillOpacity: 0.1,
            fillCollor: "#c7e9c0pg",
            // fillCollor: 'blue'
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }

    function resetHighlight2(e) {
        geojsonlayer.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature2(e) {
        map.fitBounds(e.target.getBounds());
    }

    $.getJSON("{% url 'wfs' %}", function (data) {
        geojsonlayer = new L.geoJSON(data, {
            style: myStyle,
            onEachFeature: function onEachFeature(feature, layer) {
                var popContent = "<div><b>" + "Name " + feature.properties.countyname + "</b></br>" + "Code "
                    + feature.properties.countycode + "</div>";
                layer.bindPopup(popContent);
                layer.on({
                    mouseover: highlightFeature2,
                    mouseout: resetHighlight2,
                    click: zoomToFeature2
                });
            }
        }).addTo(newgroup)
    });
    newgroup.addTo(map)


    // adding the FR  to the Map
    imageBounds = [[-1.22155, 36.8222], [-1.2293, 36.8277]];
    var imageUrl = "{% static 'parcels/image/map.jpg'%}";
    var imgoverlay = L.imageOverlay(imageUrl, imageBounds, {opacity: 1, zIndex: 1});

    $(document).ready(function () {
        $("input[type=text]").val("");
        $(".alert").hide();
        $("#search-value").on("keydown", function (e) {
            //if user presses Enter Key (keycode 13) on keyboard
            if (e.keyCode === 13) {
                e.preventDefault();
                searchWFS();
            }
        });
    });

    $('#toolbar .hamburger').on('click', function () {
        $(this).parent().toggleClass('open');
    });


    //zoom to extent button
    $(".default-view").on("click", function () {
        map.setView(centerBounds, 6.2)
    });

    //mouse hover coordinates
    map.on("mousemove", function (e) {
        $(".map-coordinate").html("Lat : " + e.latlng.lat + " Lng : " + e.latlng.lng);
    });


    // coordinate display function Map coordinate display
    map.on('click', function (e) {
        $('.mapclicks').html(`Lat: ${e.latlng.lat} <br>Lng: ${e.latlng.lng}`)
        // map.flyTo([e.latlng.lat, e.latlng.lng], 12);
        console.log("map clicked at", `Lat: ${e.latlng.lat}  Lng: ${e.latlng.lng}`)
    });


    // Edit Button Clicked
    var drawToggler = true;
    $('#draw').click(function (e) {
        if (drawToggler) {
            //on click we add the draw control layer to the map controls
            map.addControl(drawControl);

            // adding the feature class draw layer
            editableLayers.addTo(map);

            //removing the the geojson layer when drawing the second time
            map.removeLayer(drawgeojson);

            //re assigning the toggle button to make the button to run the else code
            drawToggler = !drawToggler;
            console.log("control added to the map");
        } else {
            // runs when the draw toggle is false
            console.log("control removed  from the map");

            // when the draw toggle is set to false we remove the draw controls
            // from the map and assigning the toggle back to true
            map.removeControl(drawControl);
            map.off('click');
            drawToggler = true;
        }
    });


    //changing the image opacity using the range input
    $('#imgOpacity').on('change', function () {
        $('#image-opacity').html(this.value);
        imgoverlay.setOpacity(this.value);
    });


    // toggle between full screen and normal screen
    var mapId = document.getElementById('map');

    function fullScreenView() {
        if (document.fullscreenElement) {
            document.exitFullscreen()
        } else {
            mapId.requestFullscreen();
        }
    }

    //Browser print
    // L.control.browserPrint().addTo(map);
    $(".print-map").click(function () {
        var printMode = L.control.browserPrint.mode.landscape();
        map.printControl.print(printMode);
    });

    $(".leaflet-control-browser-print").css({
        display: "none",
    });


    // function createFormPopup(layer) {
    //     var popupContent =
    //         `<div class="form">
    //             <form action="{% url 'drawShape' %}" class="geoform" method="post" id="geoform">
    //                 {% csrf_token %}
    //                 <h3 style="color: #15784e">Parcel Information</h3><hr>
    //                  <input type="text" name="lrnumber" id="lrnumber"  placeholder="LRN0/0001" required> <br><br>
    //                 <input type="number" name="plotno" id="plotno"  placeholder="Plot Number" required> <br><br>
    //                 <input type="hidden" name="polygon" id="polygon" value=${JSON.stringify(layer.toGeoJSON().geometry)}>
    //                 <input style="color: #ffffff" class="btn btn-primary btn-block" id='submit' type="submit" value="Submit">
    //             </form>
    //         </div>`;
    //     // opening the popup on each layer that is created
    //     layer.bindPopup(popupContent).openPopup();
    // }

    function createFormPopup(layer) {
        var popupContent =
            `<div class="form">
                <form id="geoform">{% csrf_token %}
                    <h3 style="color: #15784e">Parcel Information</h3><hr>
                     <input type="text" name="lrnumber" id="lrnumber"  placeholder="LRN0/0001" required> <br><br>
                    <input type="number" name="plotno" id="plotno"  placeholder="Plot Number" required> <br><br>
                    <input type="hidden" name="polygon" id="polygon" value=${JSON.stringify(layer.toGeoJSON().geometry)}>
                    <input style="color: #ffffff" class="btn btn-primary btn-block" id='save' type="button" value="Save">
                </form>
            </div>`;
        // opening the popup on each layer that is created
        layer.bindPopup(popupContent).openPopup();
    }


    // an event listener that populates the drawn shape on the map
    map.addEventListener("draw:created", function (e) {
        var type = e.layerType,
            layer = e.layer;

        // adding the layer with the properties to the editable layer
        layer.addTo(editableLayers);

        // calling the  pop up function on each drawn layer with predefined coordinates
        createFormPopup(layer);

        if (type === "polygon") {
            // layer.addTo(editableLayers);

            alert(turf.area(layer.toGeoJSON()))
            var area = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
            // let hidden_input = document.querySelector("[name='polygon']");
            // hidden_input.value = JSON.stringify(layer.toGeoJSON().geometry);

            // layer.closePopup();

        }
        if (type === "marker") {
            layer.bindPopup("Lat: " + layer.getLatLng().lat + "<br>" +"Lng:"  + layer.getLatLng().lng).openPopup();
            // editableLayers.addLayer(layer);
        }

        //       if (type == "marker" || type == "circle" || type == "circlemarker"){
        //   console.log([layer.getLatLng().lat, layer.getLatLng().lng]);
        //       }
        // else {
        //   var objects = layer.getLatLngs()[0];
        //   for (var i = 0; i < objects.length; i++){
        //     console.log([objects[i].lat,objects[i].lng]);
        //   }
        // }

    });


    function setData(e) {
        if (e.target && e.target.id == "save") {
            // Get user name and description
            let lrnumber = document.getElementById("lrnumber").value;
            let parcelid = document.getElementById("plotno").value;
            let poly = document.getElementById("polygon").value;
            let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;

            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            console.log("Tokeb------------", csrftoken);
            console.log("------------", lrnumber);
            console.log("------------", parcelid);
            console.log("------------", poly);
            console.log("------------", csrfmiddlewaretoken);


            $.ajax({
                url: "{% url 'drawShape' %}",
                type: "POST",
                data: {
                    lrnumber: JSON.stringify(lrnumber),
                    plotno: JSON.stringify(parcelid),
                    polygon: poly,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                    // csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    // action: 'post'
                },
                beforeSend: function (s) {
                    console.log('processing');
                },
                success: function (data) {
                    alert("data success saved to the database")
                },
                error: function (response) {
                    alert('trial error');
                }
            });

            // Get and print GeoJSON for each drawn layer
            editableLayers.eachLayer(function (layer) {
                // closing the pop up on each layer
                layer.closePopup();

                const layerdata = JSON.stringify(layer.toGeoJSON(), null, 4);
                let geometry = JSON.stringify(layer.toGeoJSON().geometry);
                console.log('drawing', layerdata);
                console.log('geometry', geometry);
                $('#drawcontainer').html(layerdata);

                L.geoJson(JSON.parse(layerdata)).addTo(map);

            })

            // Clear drawn items layer
            // editableLayers.closePopup();
            //         // editableLayers.clearLayers();
            //
        }

    }

    // this attatches the pop up to the document since its dynamic hence thus reducing page reload
    document.addEventListener("click", setData);


    document.getElementById('export').onclick = function (e) {
        // on export you remove the draw feature group
        // map.removeLayer(editableLayers);

        //remove the draw controls when exporting the map
        map.removeControl(drawControl);

        const geodata = JSON.stringify(editableLayers.toGeoJSON(), null, 4);
        console.log('serialized data', geodata);
        console.log('pop up', geodata)
        $('#drawcontainer').html(geodata);

        // Stringify the GeoJson
        // const convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(geodata);
        //
        // // Create export
        // document.getElementById('export').setAttribute('href', 'data:' + convertedData);
        // document.getElementById('export').setAttribute('download', 'data.geojson');


        // plotting the drawn shape as a geojson file on the map
        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.lrnumber) {
                var popContent = "<div" +
                    "<h3 style='color: aliceblue'><b>Land Parcels</b></h3><hr>" +
                    "<b>Number: </b>" + feature.properties.lrnumber + "</br>" +
                    "<b>Parcel Id: </b>" + feature.properties.parcelid + "</br>" +
                    "<b>Area: </b>" + feature.properties.area + "</br>" +
                    "<b>Perimeter: </b>" + feature.properties.parcelid +
                    "</div>";
                layer.bindPopup(popContent);
            }
        }

        // Extract GeoJson from featureGroup and display the drawn layers as a geojson
        L.geoJson(editableLayers.toGeoJSON(), {
            onEachFeature: onEachFeature,
            style: mySearchStyle,
        }).addTo(drawgeojson);

        // adding the drawn geojson to the map
        drawgeojson.addTo(map);

        // fitting the map to the bounds of the drawn geojson
        map.fitBounds(drawgeojson.getBounds());
    };


    // on click, clear all layers
    document.getElementById('delete').onclick = function (e) {
        editableLayers.clearLayers();
        drawgeojson.clearLayers();
    }


    map.addEventListener("draw:editstart", function (e) {
        editableLayers.closePopup();
    });

    map.addEventListener("draw:deletestart", function (e) {
        editableLayers.closePopup();
    });

    map.addEventListener("draw:editstop", function (e) {
        // $(".drawercontainer .drawercontent").html(
        // JSON.stringify(editableLayers.toGeoJSON())
        // );
        editableLayers.openPopup();
    });

    map.addEventListener("draw:deletestop", function (e) {
        if (editableLayers.getLayers().length > 0) {
            editableLayers.openPopup();
        }
    });

    map.on(L.Draw.Event.DELETED, function (e) {
        $(".drawercontainer .drawercontent").html("");
    });

    // let popup = L.popup();

    // function onMapClick(e) {
    //     popup
    //         .setLatLng(e.latlng)
    //         .setContent(
    //             "You clicked the map at -<br>" +
    //             "<b>lon:</b> " + e.latlng.lng + "<br>" +
    //             "<b>lat:</b> " + e.latlng.lat
    //         )
    //         .openOn(map);
    // }

    // map.addEventListener("click", onMapClick);


    //Get WFS request from  geoserver
    var wfsURL = wfs_layer_url + "service=wfs&version=1.0.0&request=GetFeature&typeName=kenya:counties&outputFormat=application/json";
    console.log(wfsURL);

    var counties = L.tileLayer.wms("http://localhost:8080/geoserver/wms",
        {
            layers: 'kenya:counties',
            format: 'image/png',
            tiled: true,
            transparent: true,
            attribution: attribution
        });

    var population = L.tileLayer.wms("http://localhost:8080/geoserver/wms",
        {
            layers: 'population',
            format: 'image/png',
            transparent: true,
            tiled: true,
            opacity: 0.6,
            zIndex: 100,
            attribution: attribution
        });

    var nairobiPlots = L.tileLayer.wms("http://localhost:8080/geoserver/wms",
        {
            layers: 'nairobi',
            format: 'image/png',
            transparent: true,
            tiled: true,
            opacity: 0.6,
            zIndex: 100,
            attribution: attribution
        }).addTo(map);

    // control that shows state info on hover
    var info = L.control({
        position: 'bottomright'
    });
    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        this._div.innerHTML = '<h4>County</h4>' + (props ?
            '<b>' + props.countycode + '</b><br />' + props.countyname : 'Hover over a county');
    };

    info.addTo(map);


    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: 'green',
            dashArray: 1,
            fillOpacity: 0.7,
            // fillCollor: "#c7e9c0pg"
            fillCollor: 'blue'
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
        info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        selectedArea.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }


    // Geoserver Web Feature Service using Ajax
    $.ajax(wfs_layer_url, {
        type: 'GET',
        data: {
            service: 'wfs',
            version: '1.0.0',
            request: 'GetFeature',
            typename: 'kenya:counties',
            maxFeatures: 50,
            srsname: 'EPSG:4326',
            outputFormat: 'text/javascript',
        },
        dataType: 'jsonp',
        jsonp: 'format_options',
        jsonpCallback: 'callback:handleJson',
    });

    function states_color(p) {
        if (p === "Republican") return "red";
        if (p === "Democrat") return "blue";
        return "grey";
    }

    function states_style(feature) {
        return {
            color: "black",
            weight: 1,
            fillColor: states_color(feature.properties.party),
            fillOpacity: 0.7
        };
    }

    // the ajax callback function
    function handleJson(data) {
        selectedArea = L.geoJson(data, {
            style: myStyle,
            onEachFeature: function onEachFeature(feature, layer) {
                var customOptions = {
                    "maxWidth": "500px",
                    "className": "customPop"
                };
                var popContent = "<div><b>" + "Code " + feature.properties.countycode + "</b></br>" + "Name "
                    + feature.properties.countyname + "</div>";
                layer.bindPopup(popContent, customOptions);
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }
        }).addTo(wfsLayer);
        map.fitBounds(selectedArea.getBounds());
    }


    let url = "https:earthquake.usgs.gov/earthquakes/feed/v1.0/" + "summary/4.5_week.geojson";
    // fetch(url)
    //     .then(function(response) {
    //         return response.json();
    //     })
    //     .then(function(data) {
    //         L.geoJSON(data).addTo(map);
    //     });

    // re order map z index
    map.on("overLays", function (e) {
        wfsLayer.bringToBack();
        population.bringToBack();
        nairobiPlots.bringToFront();
        imgoverlay.bringToBack();
    });


    // var cqlFilter = "countyname='Nakuru'";
    var defaultParameters = {
        service: 'wfs',
        version: '1.0.0',
        request: 'GetFeature',
        typeName: 'kenya:counties',
        // CQL_FILTER: cqlFilter,
        // cql_filter=INTERSECTS(the_geom,%20POINT(-105.36369323730467%2040.10013461308659))
        maxFeatures: 50,
        srsName: 'EPSG:4326',
        outputFormat: 'text/javascript',
    };

    //query string URL that automatically adds a question mark at the end of the string
    // this applies when you use default parameters
    var wfs_layer_url2 = "http://localhost:8080/geoserver/kenya/ows";
    var parameters = L.Util.extend(defaultParameters);
    var URL = wfs_layer_url2 + L.Util.getParamString(parameters);
    console.log(URL);


    // Geojson style file
    var mySearchStyle = {
        stroke: true,
        fillColor: 'yellow',
        fillOpacity: 0.5,
        color: 'red',
        weight: 2,
        Opacity: 1.0,
    };


    // function that returns the searched layers
    function searchWFS() {
        if (wfsLayerSearch != null) {
            map.removeLayer(wfsLayerSearch);
        }
        // get value from input inbox
        queryValue = document.getElementById("search-value").value;

        // cqlFilter = "countyname='" + queryValue + "'";
        cqlFilter = "countyname='" + queryValue + "' or " + "countyname LIKE '" + queryValue + "%'";
        // cqlFilter = "countyname LIKE'" + queryValue + "%'";
        // console.log(cqlFilter);
        // cql_filter=INTERSECTS(the_geom,%20POINT(-105.36369323730467%2040.10013461308659))

        geoLayer = 'counties';
        var typeName = "kenya:" + geoLayer;

        var defaultParameters = {
            service: 'wfs',
            version: '1.0.0',
            request: 'GetFeature',
            typeName: typeName,
            CQL_FILTER: cqlFilter,
            srsName: 'EPSG:4326',
            outputFormat: 'text/javascript',
        };

        var parameters = L.Util.extend(defaultParameters);
        var URL = wfs_layer_url2 + L.Util.getParamString(parameters);

        if (!queryValue) {
            $("#alert_empty").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
                alert("Please enter A valid Input!");
            });
        } else {
            // alert("please wait");
            // $.ajax("{% url 'wfs2' %}", {
            $.ajax(URL, {
                // type: "GET",
                // data: { cql: queryValue},
                dataType: 'jsonp',
                jsonpCallback: 'callback:searchJson',
                jsonp: 'format_options'
            });
            return true;
        }
    }

    // the ajax callback function
    function searchJson(data) {
        if (data.totalFeatures > 0) {
            document.getElementById("wfsResults").innerHTML = data.totalFeatures + " Total Results";

            wfsLayerSearch = L.geoJson(data, {
                style: mySearchStyle,
                onEachFeature: function onEachFeature(feature, layer) {
                    layer.bindPopup("Code: " + feature.properties.countycode + "<br/>Name: " + feature.properties.countyname,
                        {
                            closeButton: false,
                            offset: L.point(0, -10)
                        });
                    layer.on('mouseover', function () {
                        layer.openPopup();
                    });
                    layer.on('mouseout', function () {
                        layer.closePopup();
                    });
                }
            }).addTo(map);
            // }).addTo(wfsLayerSearch);
            map.fitBounds(wfsLayerSearch.getBounds());
        } else {
            document.getElementById("wfsResults").innerHTML = "";
            $("#alert_noResult").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });
        }
    }


    //function to clear up results from clear button
    function clearResult() {
        document.getElementById("search-value").value = "";
        document.getElementById("wfsResults").innerHTML = "";

        // Clear existing WFS Query Layer/Result
        if (wfsLayerSearch != null) {
            map.removeLayer(wfsLayerSearch);
        }
        // zoom to original extent
        map.setView(centerBounds, 6);
        return false;
    }


    //custom leaflet icon
    var createIcon = function (labelText) {
        if (!labelText) {
            return L.divIcon({
                className: "textLabelClass",
            });
        }
        return L.divIcon({
            className: "textLabelClass",
            html: labelText
        });
    };


    //legend control function
    function wmsLegendControl(layerName, layerTitle) {
        var className = layerName.split(":")[1];
        var url = `http://localhost:8080/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&LAYER=${layerName}`;
        var legend = `<p class="${className}" style='margion-top:10px; font-weight: bold'>${layerTitle}</p>`;
        legend += `<p><img class="${className}" src=${url} /><br class=${className} /></p> `;
        return legend;
    }


    L.Control.Watermark = L.Control.extend({
        onAdd: function (map) {
            var img = L.DomUtil.create('img');

            img.src = 'https://www.epix.net.pl/wp-content/uploads/2017/03/gis-logo.png';
            img.style.width = '200px';

            return img;
        },
        onRemove: function (map) {
            // Nothing to do here
        }
    });

    L.control.watermark = function (opts) {
        return new L.Control.Watermark(opts);
    };

    // var watermarkControl = L.control.watermark({position: 'bottomleft'}).addTo(map);


    // Create Leaflet Control Object for Legend
    var legend = L.control({position: "bottomright"});

    // Description contents
    var contents = "";
    contents += '<div id="description"><p><b>Simple shapes in Leaflet</b></p><hr>';
    contents += '<p>This map shows an example of adding shapes on a Leaflet map<p/>';
    contents += '<p>The following shapes were added:</p><br/>';
    contents += '<p><ul>';
    contents += '<li>A marker</li>';
    contents += '<li>A line</li>';
    contents += '<li>A polygon</li>';
    contents += '</ul></p>';
    contents += '<p>The line layer has a <b>popup</b>. Click on the line to see it!</p><hr>';
    contents += '<p>Created with the Leaflet library</p><br/>';
    contents += '<img src="./image/map.jpg"></div>';


    // Function that runs when legend is added to map
    legend.onAdd = function (map) {

        // Create Div Element and Populate it with HTML
        div = L.DomUtil.create('div', 'legend');
        div.innerHTML = contents;
        div.innerHTML += '<input type="button" value="hide" id="hide">';

        // Return the Legend div containing the HTML content
        return div;

    };

    // Add Legend to Map
    // legend.addTo(map);


    //Handle Copy Lat/Lng to clipboard
    $('#latlng').click(function (e) {
        var $tempElement = $("<input>");
        $("body").append($tempElement);
        $tempElement.val($("#latlng").text()).select();
        document.execCommand("Copy");
        $tempElement.remove();
        alert("Copied: " + $("#latlng").text());
        $("#latlng").hide();
    });


    // 'Hide' button that toggles the legend
    $("#hide").on("click", function () {
        L.DomEvent.disableClickPropagation(this);
        switch ($("#hide").val()) {
            case "hide":
                $("#description").slideUp();
                $("#hide").val("show");
                break;
            case "show":
                $("#description").slideDown();
                $("#hide").val("hide");
                break;
        }
    });

    var dataurl = '{% url "allParcels" %}';

    // $.ajax(dataurl,{
    //     type: 'GET',
    //     url: dataurl,
    //     dataType: 'json',
    //     jsonpCallback: 'callback:geoDAta'
    // })


    // the ajax callback function
    function geoDAta(data) {
        das = L.geoJson(data, {
            style: myStyle,
            onEachFeature: function onEachFeature(feature, layer) {
                var popContent = "<div><b>" + "Code " + feature.properties.lrnumber + "</b></br>" + "Name "
                    + feature.properties.plotno + "</div>";
                layer.bindPopup(popContent);
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }
        }).addTo(map);
    };

    // map overlays
    var overLays = {
        // "Georeferenced": imgoverlay,
        // "Nairobi": nairobiPlots,
        // "County (WMS)": counties,
        // "Population  (WMS)": population,
        // "wfsLayer (WFS)": wfsLayer,
        // "Search": wfsLayerSearch,
        "Draw": editableLayers,
        "DrawGeojson": drawgeojson,
        "kenya": newgroup,

    };

    L.control.layers(basemaps, overLays, {collapsed: true, position: 'topright'}).addTo(map);


</script>
{% endblock extras %}