.leaflet-popup-content-wrapper {
  /*background:#2c3e50;*/
    background-color: rgba(62, 134, 45, 0.3);
    color:#fff;
    /*width: 500px;*/
    /*height: 300px;*/
    font-size:16px;
    line-height:24px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px
  }

.leaflet-popup-tip-container {
    width:30px;
    height:15px;
    color:rgba(62, 134, 45, 0.3);
  }

.leaflet-popup-tip {
    /*background: transparent;*/
    background-color: rgba(62, 134, 45, 0.3);
    border: none;
    box-shadow: none;
  }

.leaflet-popup-content {
        padding: 15px;
        /*width: 100%;*/
        align-items: center;
        justify-content: center;
        overflow:  auto;
        /*margin-right: 10px;*/
        /*margin-left: 10px;*/
        /*margin: 0px;*/
        /*max-width: 500px;*/
        margin: 5px 0 22px 0;
}

/*.leaflet-popup-content input[type=text] {*/
/*        width: 100%;*/
/*        padding: 15px;*/
/*        margin: 5px 0 22px 0;*/
/*        overflow:  auto;*/
/*}*/

.leaflet-popup-content hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

/*.leaflet-popup-content input {*/
/*    background-color: transparent;*/
/*    border: 0;*/
/*    letter-spacing: 1px;*/
/*    outline: 0;*/
/*}*/




/*.leaflet-control-layers-expanded {*/
/*  width: 100% !important;*/
/*  padding: 5px;*/
/*  background-color: transparent;*/
/*  border: none !important;*/
/*}*/

/*.leaflet-control-layers-list {*/
/*  font-size: 16px;*/
/*  line-height: 12px;*/
/*  background: none !important;*/
/*  color: green;*/
/*}*/

/*.leaflet-draw-toolbar-top {*/
/*    margin-top: 0;*/
/*    !*border: 2px solid rgba(0,0,0,0.2);*!*/
/*    border: none;*/
/*    background-color: yellowgreen !important;*/
/*}*/



.leaflet-draw-draw-polyline , .leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle, .leaflet-draw-draw-circle,
.leaflet-draw-draw-marker, .leaflet-draw-draw-circlemarker{
    background-position: 0 -1px;
    margin: 5px;
    background-color:greenyellow !important;
    box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.5);
    /*background-color:rgba(243,87,161, 0.5) !important;*/
    /*background-color:yellowgreen !important;*/
}

/*animation: leaflet-draw-draw-rectangle 2s ease infinite;*/
.leaflet-draw-draw-polyline {
  animation: leaflet-draw-draw-polyline 4s linear;
}
@keyframes leaflet-draw-draw-polyline {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leaflet-draw-draw-polygon {
  animation: leaflet-draw-draw-polygon 4s linear;
}
@keyframes leaflet-draw-draw-polygon {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leaflet-draw-draw-rectangle {
  animation: leaflet-draw-draw-rectangle 4s linear;
}
@keyframes leaflet-draw-draw-rectangle {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leaflet-draw-draw-circle, .leaflet-draw-draw-marker {
  animation: leaflet-draw-draw-circle 4s linear;
}
@keyframes leaflet-draw-draw-circle{
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leaflet-draw-draw-marker {
  animation: leaflet-draw-draw-marker 4s linear;
}
@keyframes leaflet-draw-draw-marker{
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leaflet-draw-draw-circle, .leaflet-draw-draw-circlemarker {
  animation: leaflet-draw-draw-circlemarker 4s linear;
}
@keyframes leaflet-draw-draw-circlemarker{
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.leaflet-touch .leaflet-control-layers .leaflet-touch .leaflet-bar {
    border: none;
    background-clip: padding-box;
    margin:14px ;
}

.leaflet-control-layers{
    /*margin: 1px;*/
    /*padding: 1px;*/
    /*border-radius:50px !important;*/
    /*overflow: auto;*/
    background-color: cadetblue;
}


/*.leaflet-control-zoom {*/
/*    margin: 7px;*/
/*}*/
.leaflet-control-zoom-in{
    margin-bottom: 15px;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out  {
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: greenyellow !important;
}

.leaflet-touch .leaflet-bar a {
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-bottom:3px;
    border: none;
	border-radius:50% !important;
}


/*.leaflet-control-layer-list {*/
/*    line-height:10px;*/
/*    background-color: yellowgreen;*/
/*}*/


.basic-functions{
    position: absolute;
    top: 80px;
    left: 7px;
}

.basic-functions .btns:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow:teal;
}

.basic-functions .btns{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    margin: 7px;
    padding: 5px;
    border-radius:50px;
    box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.5);
}

.basic-functions .fas {
    font-size: 1.2rem;
    position: absolute;
    color:steelblue;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
