{% extends 'base.html' %}
{% block title %}Address{% endblock title %}
{% block content %}

    <h2 class="text-center">Address Information</h2>
    <div class="col-md-6 offset-md-3">
    <form class="address_form" method="post">
    {% csrf_token %}
        {% for field in address_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}
            </p>
        {% endfor %}
        {% for field in address_form %}
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if address_form.non_field_errors %}
            <div style="color: red;">
                <p>{{ address_form.non_field_errors }}</p>
            </div>
        {% endif %}

        <button class="btn btn-secondary" type="submit">Save</button>
    </form>
    </div>

{% endblock content %}