<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% load crispy_forms_tags  crispy_forms_filters %}
{% load static %}


{% block stylesheet %}

{% endblock %}


{% block content %}
    <div class="col-md-6 offset-md-3" style="background-color: #5a6268">
        <center>
            <form action="{% url 'login' %}" class="login_form" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-group" style="max-width:470px; align-content: center">
                    <h2 class="text-center">Login</h2>
                    <p>{{ login_form| crispy}}</p>

                    <div style="max-width:470px;">
                        <button style="border:0px; background-color:#4285F4; margin-top:8%;height:35px; width:80%;"
                                type="submit" value="Login"> <strong>Login</strong>
                        </button>
                    </div>
                </div>

            </form>
        </center>
    </div>

    <div class="d-flex flex-column md-5">
        <a class="m-auto" href="{% url 'password_reset' %}">Reset password</a>
    </div>
{% endblock %}