{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
    <div class="container">
<!--        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/in-logo-1.svg' %}" alt="DJango"></a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"-->
<!--                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

        <div class="col-xl-3 col-lg-2">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'edit_account' %}">Account</a>
                    <a class="nav-link" href="{% url 'update_password' %}">Password</a>
                    <a class="nav-link" href="{% url 'rundamap' %}">Parcels</a>
                    <a class="nav-link" href="{% url 'map' %}">Map</a>
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                    <form class="d-flex" id="authstyle">
                        <a href="{% url 'profile' %}" class="btn" style="color: white; background-color: green;"
                           type="submit" id="header-links"> Profile </a>
                        <a href="{% url 'logout' %}" class="btn" style="color: white; background-color: green;"
                           type="submit" id="header-links"> Logout </a>
                    </form>
                {% else %}
                    <div class="search_button">
                        <a href="{% url 'home' %}">
                            <i class="ti-search"></i>
                        </a>
                    </div>
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="{% url 'parcels' %}">Parcels</a>
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                    <form class="d-flex" id="authstyle">
                        <a href="{% url 'register' %}" class="btn" style="color: white; background-color: green;"
                           type="submit" id="header-links">Register</a>
                        <a href="{% url 'login' %}" class="btn"
                           style="color: white; background-color: green; margin-left: 10px; " type="submit"
                           id="header-links">Login</a>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
</nav>

<hr>

