{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}

{% block content %}
    <div class="col-md-6 offset-md-3">
    <form class="form-signin" method="post">{% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Property Search</h1>


        {% for field in search_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small style="color: grey;">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}

        {% if search_form.non_field_errors %}
            <div style="color: red">
                <p>{{ search_form.non_field_errors }}</p>
            </div>

        {% endif %}
        <button class="btn btn-secondary" type="submit">Search</button>
    </form>
</div>
{% endblock content %}