{% extends 'base.html' %}

{% load static %}

{% block title %}Parcel Search{% endblock title %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Search Results</h1>
        <br>
    </div>

    <div  class="container" style="align-content: center" align="center">
        <p> Full Name: {{ owner }}</p>
        <p> Email Address: {{ owner.email }}</p>
        <hr>
        <p> Parcel Number: {{ parcel.lr_no }}</p>
        <p> Tenure: {{ details.tenure|title }}</p>
        <p> Land Use: {{ details.land_use }}</p>
        <p> Encumbrances: {{ details.encumbrances|title }}</p>
        <p> Improvements: {{ details.improvements|title }}</p>
        <p> Purchase: {{ details.purchase_date }}</p>

    </div>

    <hr>

    <div class="container" style="align-content: center" align="center">
        {{ map|safe }}
    </div>

{% endblock content %}
