<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title> {% block title %} {% endblock %} </title>


    {% block stylesheet %} {% endblock stylesheet %}

    {% block javascript %} {% endblock javascript %}

</head>

<body>
    {% include 'snippets/header.html' %}

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <!--<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>-->
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js'></script>

    {% include "snippets/footer.html" %}
</body>

</html>