{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block stylesheet %} {% endblock stylesheet %}

{% block javascript %} {% endblock javascript %}

{% block content %}
    <div class="container mt-3 pt-3">
        <div class="row">
            <div class="col-md-8">
                <h3 class="display-4 text-center">Ardhi System</h3>
                <br>
                <p class="text-justify lead">(LIS) is a geographic information system for cadastral and land use mapping, typically used by
                    local
                    governments. <br>
                    An LIS consists of an accurate, current and reliable land record cadastre and its associated attribute and
                    spatial <br>
                    data that represent the legal boundaries of land tenure and provides a vital base layer capable of
                    integration into <br>
                    other geographic systems or as a standalone solution that allows data stewards to retrieve, create, update,
                    store, view, <br> analyze and publish land information.
                </p>
            </div>
            <!--  Displaying Map on the home page          -->
            <div class="col-md-4 border shadow">
                <h4 class="display-4 text-center">Land Parcels</h4>
                {% include "parcels/runda.html" %}
            </div>
        </div>
    </div>



{% endblock content %}




